

{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<div class="contact">
<h1 style="text-indent: 20px">Stay connected</h1>
<h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif;">sushmithadinakara@gmail.com</h3>
</div>
<div class="formclass">
    <form action="{% url 'contact' %}"  method="post">
        {% csrf_token %}
        <label style="color:white"for="name">Full Name</label><br>
        <input type="text" id="name" name="name" ><br><br>

        <label style="color:white" for="email">Email</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label  style="color:white"for="message">Message</label><br>
        <textarea id="message" name="message" rows="4" ></textarea><br><br>
        
        <label style="color:white" for="phone no">Phone no</label><br>
        <input type="tel" id="phone_no" name="phone_no"><br><br>

        <button type="submit">Submit</button>
    </form>

    
    
    
</div>
    
{% endblock content %}